## Kaggle Titanic Competition

In [1]:
import numpy as np
import pandas as pd

In [5]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [30]:
# random submission

submission = test_data.copy(deep=True)
submission['Survived'] = np.random.choice([0,1], len(submission))

In [31]:
submission = submission[['PassengerId','Survived']]
submission.to_csv('submission.csv', index=False)
# score 0.46

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0

In [35]:
# gender submission

In [46]:
submission = test_data.copy(deep=True)
submission['Survived'] = np.where(submission.Sex=='female',1,0)
submission = submission[['PassengerId','Survived']]
submission.to_csv('submission.csv', index=False)
# score 0.76

In [53]:
# test on the train set

t = train_data.copy(deep=True)
t['Pred'] = np.where(t.Sex=='female',1,0)
t['Score'] = np.where(t.Pred==t.Survived,1,0)
t.Score.sum()/t.Score.count()

0.7867564534231201

In [57]:
# random forest

train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [65]:
from sklearn.ensemble import RandomForestClassifier

y = train_data['Survived']
features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=1)

In [72]:
t = train_data.copy(deep=True)
t['pred'] = model.predict(X)
np.sum(t.pred==t.Survived)/len(t)

0.8159371492704826

In [73]:
X_test = pd.get_dummies(test_data[features])
submission = test_data.copy(deep=True)
submission['Survived'] = model.predict(X_test)
submission = submission[['PassengerId','Survived']]
submission.to_csv('submission.csv', index=False)
# score 0.77